body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  position: relative;
}

main {
  margin: 0 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.contact_button {
  font-size: 20px;
  color: #ffffff;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  box-shadow: 5px 5px 0px 10000px rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  background-color: #DB8876;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 3em;
  font-weight: normal;
}

form {
  width: 100%;
}
form label {
  color: #312E2E;
  font-size: 1.3em;
}
form div {
  width: 100%;
  margin-bottom: 20px;
}
form input, form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}
form input {
  height: 68px;
  font-size: 20px;
  padding: 0 10px;
}
form textarea {
  height: 168px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 2.5em;
  margin: 25px 0 15px 0;
  font-weight: 400;
  text-align: center;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.photographer_section article a img:hover {
  transform: scale(0.97);
  transition: all 0.2s ease-in-out;
}
.photographer_section article .textPhotographer {
  text-align: center;
}
.photographer_section article .textPhotographer h3 {
  font-size: 1.1em;
  margin: 0;
  color: #901c1c;
}
.photographer_section article .textPhotographer p {
  margin: 5px 0;
}
.photographer_section article .textPhotographer .pricePhotographer {
  color: #757575;
}

#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  background-color: #FAFAFA;
  position: relative;
}
.photograph-header .textPhotographer h2 {
  color: #D3573C;
  font-size: 2.5em;
  font-weight: 400;
  margin: 15px 0;
}
.photograph-header .textPhotographer h3 {
  font-size: 1.1em;
  margin: 0;
  color: #901c1c;
}
.photograph-header .textPhotographer p {
  color: #757575;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.heart {
  width: 20px;
}

.photograph-medias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 70px;
  margin-top: 25px;
}
.photograph-medias > div .container-img {
  position: relative;
  cursor: pointer;
}
.photograph-medias > div .container-img img, .photograph-medias > div .container-img video {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  margin-bottom: -5px;
}
.photograph-medias > div .container-img img:hover, .photograph-medias > div .container-img video:hover {
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}
.photograph-medias > div .container-img img:before, .photograph-medias > div .container-img video:before {
  content: "";
  background-color: #901c1c;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  mix-blend-mode: hue;
  border-radius: 5px;
}
.photograph-medias > div .textPhoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.photograph-medias > div .likesPhoto {
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #901c1c;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
.photograph-medias > div .likesPhoto .nbLikes {
  padding-right: 5px;
  right: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.photograph-medias > div .photosPhotograph {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.photograph-medias > div .encartPhoto {
  width: 350px;
  margin: 15px auto;
  display: inline-block;
}
.photograph-medias > div .encartPhoto .heart {
  transition: all 0.5s ease-in-out;
}
.photograph-medias > div .encartPhoto .heart:hover {
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}
.photograph-medias > div .encartPhoto .heart:active {
  opacity: 0.5;
  transform: scale(0.7);
}

.encart-bas {
  display: flex;
  background-color: #DB8876;
  position: fixed;
  right: 30px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  align-items: baseline;
  justify-content: space-between;
  width: 220px;
  font-weight: bold;
  font-size: 1.2em;
}
.encart-bas .heart {
  position: absolute;
  margin-left: 7px;
  padding-top: 3px;
}

.triPhotos ul {
  background-color: #901c1c;
  border-radius: 5px;
  padding: 20px;
  font-size: 1em;
  color: #ffffff;
  border: none;
  width: 120px;
  margin-top: 25px;
  list-style-type: none;
}
.triPhotos ul li {
  padding: 20px;
}
.triPhotos ul li:hover {
  background-color: #D3573C;
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: none;
}
.lightbox button {
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 11;
}
.lightbox__prev, .lightbox__next {
  background: url(icons/arrow.svg) center center/100% 100% no-repeat;
  width: 30px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  transform: rotate(180deg);
}
.lightbox__prev {
  right: auto;
  left: 20px;
  transform: rotate(0);
}
.lightbox__close {
  background: url(icons/close-red.svg) center center/100% 100% no-repeat;
  width: 42px;
  height: 42px;
  right: 20px;
  top: 20px;
}
.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lightbox__photo {
  width: 50%;
  display: flex;
  align-items: center;
  max-height: 90%;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
