.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article {
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2 {
                color: $orange;
                font-size: 2.5em;
                margin: 25px 0 15px 0;
                font-weight: 400;
                text-align: center;
            }
            img {
                height: 200px;
                width: 200px;
                border-radius: 100%;
                object-fit: cover;
                transition: all .2s ease-in-out;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
                &:hover{
                  transform: scale(0.97);
                  transition: all .2s ease-in-out;
                }
            }
        }
        .textPhotographer{
            text-align: center;
            h3{
                font-size: 1.1em;
                margin: 0;
                color: $rouge;
            }
            p{
                margin: 5px 0;
            }
            .pricePhotographer{
                color: $gris;
            }
        }
    }
}