
#contact_modal {
	display: none;
}

.photograph-header {
	display: flex;
	justify-content: space-between;
	padding: 30px 100px;
	align-items: center;
	background-color: $grisClair;
	position: relative;

	.textPhotographer {
		h2 {
			color: $orange;
			font-size: 2.5em;
			font-weight: 400;
			margin: 15px 0;
		}
		h3 {
			font-size: 1.1em;
			margin: 0;
			color: $rouge;
		}
		p {
			color: $gris;
		}
	}
	img {
		height: 200px;
		width: 200px;
		border-radius: 100px;
		object-fit: cover;
	}
}

.heart{
  width: 20px;
}

.photograph-medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 70px;
    margin-top: 25px;
    >div{
        .lienPhoto{
            img, video{
                width: 100%;
                height: 300px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
        
        .textPhoto{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $rouge;
        }
        
        .likesPhoto{
            margin: 0;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $rouge;
            position: relative;
            border: none;
            background: transparent;
            cursor: pointer;
            
            .nbLikes{
                padding-right: 5px;
                right: 5px;
                font-size: 1.2em;
                font-weight: bold;
              }
        }
        
        
        .photosPhotograph{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        .encartPhoto{
        
            width: 350px;
            margin: 15px auto;
            display: inline-block;
            
        }
    }
}

.encart-bas{
    display: flex;
    background-color: $rose;
    position: fixed;
    right: 30px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    align-items: baseline;
    justify-content: space-between;
    width: 220px;
    font-weight: bold;
    font-size: 1.2em;
    .heart{
        position: absolute;
        margin-left: 7px;
        padding-top: 3px;
    }
}

.triPhotos{
    select{
        background-color: $rouge;
        border-radius: 5px;
        padding: 20px;
        font-size: 1em;
        color: $blanc;
        border:none;
        margin-top: 25px;
        option{
            padding: 20px;
        }
    }
}



